@charset "UTF-8";
/* Table of Contents
- - - - - - - - -
Variables
Global Styles
Tag Styles
Class Styles
Local Styles
Header
About
Services
Projects
Team
Client Reviews
Client Logos
Price
Premium
Facts
Share
Contact Us
Contact Information
Footer
- - - - - - - - -
*/
/* Variables */
/* Global Styles */
/* Tag Styles */
/* line 35, src/scss/styles.scss */
html {
  scroll-behavior: smooth;
}

/* line 39, src/scss/styles.scss */
body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #7e7e7e;
  background-color: #000;
}

/* line 46, src/scss/styles.scss */
a {
  color: inherit;
}

/* line 49, src/scss/styles.scss */
a:hover, a:focus, a:active {
  text-decoration: inherit;
}

/* line 56, src/scss/styles.scss */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

/* line 64, src/scss/styles.scss */
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

/* Class Styles */
/* line 73, src/scss/styles.scss */
.section {
  padding: 50px 0;
  background-color: #000000;
}

/* line 77, src/scss/styles.scss */
.section--gray {
  background-color: #f7f7f7;
}

/* line 81, src/scss/styles.scss */
.section--white {
  background-color: #fff;
}

/* line 85, src/scss/styles.scss */
.section__header {
  text-align: center;
  margin-bottom: 35px;
  text-transform: uppercase;
}

/* line 92, src/scss/styles.scss */
.section__heading {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #000;
}

/* line 98, src/scss/styles.scss */
.section__heading--white {
  color: #fff;
}

/* line 103, src/scss/styles.scss */
.section__subheading {
  font-size: 14px;
  color: #aeaeae;
  font-weight: 600;
}

/* line 110, src/scss/styles.scss */
.button {
  display: inline-block;
  padding: 10px 35px;
  color: #fff;
  background-color: #b88b58;
  border-width: 0;
  border-radius: 35px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 122, src/scss/styles.scss */
.button:hover {
  background-color: #9b764c;
  color: #fff;
}

/* line 127, src/scss/styles.scss */
.button:active {
  background-color: #8b6c48;
  color: #fff;
}

/* line 132, src/scss/styles.scss */
.button--black {
  background-color: #000;
}

/* line 135, src/scss/styles.scss */
.button--black:hover {
  background-color: #b88b58;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 140, src/scss/styles.scss */
.button--black:active {
  background-color: #9b764c;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 148, src/scss/styles.scss */
.socials-panel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* line 154, src/scss/styles.scss */
.socials-panel__item:not(:last-child) {
  margin-right: 5px;
}

/* line 159, src/scss/styles.scss */
.social-icon {
  color: #fff;
  background-color: #bebebe;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 33px;
  width: 33px;
  height: 33px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 170, src/scss/styles.scss */
a:hover .social-icon {
  background-color: #b88b58;
}

/* line 174, src/scss/styles.scss */
a:active .social-icon {
  background-color: #9b764c;
}

/* line 178, src/scss/styles.scss */
.social-icon--dark {
  background-color: #373737;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 183, src/scss/styles.scss */
.social-icon--twitter {
  background-color: #34c5f0;
}

/* line 187, src/scss/styles.scss */
.social-icon--linkedin {
  background-color: #127cb4;
}

/* line 191, src/scss/styles.scss */
.social-icon--facebook {
  background-color: #336297;
}

/* line 195, src/scss/styles.scss */
.social-icon--instagram {
  background-color: #dd2a7b;
}

/* line 199, src/scss/styles.scss */
.social-icon--pinterest {
  background-color: #b71c29;
}

/* line 204, src/scss/styles.scss */
.form-field {
  font-size: 13px;
  background-color: transparent;
  width: 100%;
  padding: 15px 0;
  border-width: 0 0 2px 0;
  border-color: #a4a4a4;
  margin-bottom: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 214, src/scss/styles.scss */
.form-field::-webkit-input-placeholder {
  color: #9e9e9e;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-field::-moz-placeholder {
  color: #9e9e9e;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-field:-ms-input-placeholder {
  color: #9e9e9e;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-field::-ms-input-placeholder {
  color: #9e9e9e;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-field::placeholder {
  color: #9e9e9e;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 220, src/scss/styles.scss */
.form-field:focus {
  border-color: #b88b58;
}

/* line 223, src/scss/styles.scss */
.form-field:focus::-webkit-input-placeholder {
  color: #b88b58;
}
.form-field:focus::-moz-placeholder {
  color: #b88b58;
}
.form-field:focus:-ms-input-placeholder {
  color: #b88b58;
}
.form-field:focus::-ms-input-placeholder {
  color: #b88b58;
}
.form-field:focus::placeholder {
  color: #b88b58;
}

/* line 229, src/scss/styles.scss */
body:not(.user-is-tabbing) .slick-slide,
body:not(.user-is-tabbing) .slick-slide * {
  outline: none;
}

/* line 234, src/scss/styles.scss */
.slick-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

/* line 240, src/scss/styles.scss */
.slick-dots {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* line 243, src/scss/styles.scss */
.slick-dots li {
  line-height: 0;
}

/* line 246, src/scss/styles.scss */
.slick-dots li:not(:last-child) {
  margin-right: 10px;
}

/* line 251, src/scss/styles.scss */
.slick-dots button {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border-color: #b88b58;
  border-radius: 50%;
  border-style: solid;
  padding: 0;
  text-indent: -9999px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 264, src/scss/styles.scss */
.slick-dots li:hover button {
  border-color: #9b764c;
}

/* line 268, src/scss/styles.scss */
.slick-dots li:active button {
  border-color: #8b6c48;
}

/* line 273, src/scss/styles.scss */
.slick-dots li.slick-active button {
  background-color: #b88b58;
}

/* line 277, src/scss/styles.scss */
.slick-dots li.slick-active:hover button {
  background-color: #9b764c;
}

/* line 281, src/scss/styles.scss */
.slick-dots li.slick-active:active button {
  background-color: #8b6c48;
}

/* Local Styles */
/* line 290, src/scss/styles.scss */
.page-body {
  position: relative;
}

/* line 294, src/scss/styles.scss */
.top-bar {
  background-color: #000;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 84px;
  z-index: 10;
}

@media (min-width: 992px) {
  /* line 294, src/scss/styles.scss */
  .top-bar {
    padding: 0;
  }
}

/* line 309, src/scss/styles.scss */
.top-bar__inner {
  padding: 0;
}

/* line 313, src/scss/styles.scss */
.top-bar__toggler-icon {
  font-size: 30px;
  color: #fff;
}

/* line 319, src/scss/styles.scss */
.logo {
  margin: 0;
}

/* line 323, src/scss/styles.scss */
.main-nav {
  margin-top: 15px;
}

@media (min-width: 992px) {
  /* line 323, src/scss/styles.scss */
  .main-nav {
    margin-top: 0;
  }
}

/* line 330, src/scss/styles.scss */
.main-nav__link {
  display: block;
  border-width: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
  /* line 330, src/scss/styles.scss */
  .main-nav__link {
    padding: 33px 5px 30px 5px !important;
    border-bottom: 5px solid #000;
    font-size: 11px;
  }
}

@media (min-width: 1200px) {
  /* line 330, src/scss/styles.scss */
  .main-nav__link {
    padding: 30px 10px 28px 10px !important;
    font-size: 14px;
  }
}

/* line 350, src/scss/styles.scss */
.main-nav__link:hover, .main-nav__link.active {
  color: #b88b58;
}

@media (min-width: 992px) {
  /* line 350, src/scss/styles.scss */
  .main-nav__link:hover, .main-nav__link.active {
    color: #fff;
    border-color: #b88b58;
  }
}

/* line 360, src/scss/styles.scss */
.main-nav__link:active {
  color: #9b764c;
}

@media (min-width: 992px) {
  /* line 360, src/scss/styles.scss */
  .main-nav__link:active {
    color: #fff;
    border-color: #9b764c;
  }
}

/* line 371, src/scss/styles.scss */
.main-nav-toggler {
  padding: 4px;
  border-width: 0;
  margin: 10px 0;
}

@media (min-width: 992px) {
  /* line 371, src/scss/styles.scss */
  .main-nav-toggler {
    margin: 23px 0;
  }
}

/* line 381, src/scss/styles.scss */
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 385, src/scss/styles.scss */
.phone-button {
  display: block;
  position: fixed;
  width: 65px;
  height: 65px;
  background-color: #b88b58;
  border-radius: 50%;
  color: #fff;
  bottom: 25px;
  right: 25px;
  z-index: 1030;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  /* line 385, src/scss/styles.scss */
  .phone-button {
    bottom: 60px;
    right: 80px;
  }
}

/* line 403, src/scss/styles.scss */
.phone-button:hover {
  background-color: #9b764c;
  color: #fff;
}

/* line 408, src/scss/styles.scss */
.phone-button:active {
  background-color: #8b6c48;
  color: #fff;
}

/* line 413, src/scss/styles.scss */
.phone-button__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

/* line 421, src/scss/styles.scss */
.phone-button__icon {
  width: 40px;
}

/* Header */
/* line 428, src/scss/styles.scss */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 84px;
}

/* line 434, src/scss/styles.scss */
.hero-carousel {
  width: 100%;
  height: 100%;
}

/* line 438, src/scss/styles.scss */
.hero-carousel .slick-list,
.hero-carousel .slick-track {
  height: 100%;
}

/* line 443, src/scss/styles.scss */
.hero-carousel .slick-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* line 451, src/scss/styles.scss */
.hero-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4d4d4d;
  color: #ffffff;
  text-transform: uppercase;
  height: 100%;
}

/* line 460, src/scss/styles.scss */
.hero-slide--1st {
  background-image: url("../img/hero-image-01.jpg");
}

/* line 464, src/scss/styles.scss */
.hero-slide--2nd {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/hero-image-02.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hero-image-02.jpg");
}

/* line 469, src/scss/styles.scss */
.hero-slide--3rd {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/hero-image-03.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-image-03.jpg");
}

/* line 474, src/scss/styles.scss */
.hero-slide__slogan {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 0.9em;
  font-weight: bold;
}

@media (min-width: 576px) {
  /* line 474, src/scss/styles.scss */
  .hero-slide__slogan {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  /* line 474, src/scss/styles.scss */
  .hero-slide__slogan {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  /* line 474, src/scss/styles.scss */
  .hero-slide__slogan {
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  /* line 474, src/scss/styles.scss */
  .hero-slide__slogan {
    font-size: 72px;
  }
}

/* line 497, src/scss/styles.scss */
.hero-slide__upper-slogan {
  display: block;
  color: #ffffff;
}

/* line 502, src/scss/styles.scss */
.hero-slide__lower-slogan {
  display: block;
  color: #b88b58;
}

/* line 507, src/scss/styles.scss */
.hero-slide__suggestion {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 600;
}

@media (min-width: 576px) {
  /* line 507, src/scss/styles.scss */
  .hero-slide__suggestion {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  /* line 507, src/scss/styles.scss */
  .hero-slide__suggestion {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  /* line 507, src/scss/styles.scss */
  .hero-slide__suggestion {
    font-size: 24px;
  }
}

/* line 525, src/scss/styles.scss */
.hero-slide__link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 528, src/scss/styles.scss */
.hero-slide__link:hover {
  color: #b88b58;
}

/* line 532, src/scss/styles.scss */
.hero-slide__link:active {
  color: #9b764c;
}

/* About */
/* line 541, src/scss/styles.scss */
.about__text {
  color: #242424;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 30px;
}

/* line 549, src/scss/styles.scss */
.about__image-link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 552, src/scss/styles.scss */
.about__image-link:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

/* line 556, src/scss/styles.scss */
.about__image-link:active {
  -webkit-filter: brightness(1.25);
          filter: brightness(1.25);
}

/* line 561, src/scss/styles.scss */
.about__image {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* Services */
/* line 569, src/scss/styles.scss */
.services__card-item {
  padding-bottom: 35px;
  border: 0 solid #383838;
}

/* line 574, src/scss/styles.scss */
.services__card-item:last-child {
  padding-bottom: 0;
}

@media (min-width: 576px) {
  /* line 579, src/scss/styles.scss */
  .services__card-item:nth-child(3) {
    padding-bottom: 0;
  }
  /* line 583, src/scss/styles.scss */
  .services__card-item:nth-child(odd) {
    border-right-width: 2px;
  }
}

@media (min-width: 1200px) {
  /* line 569, src/scss/styles.scss */
  .services__card-item {
    border-right-width: 2px;
    padding-bottom: 0;
  }
  /* line 592, src/scss/styles.scss */
  .services__card-item:first-child {
    border-left-width: 2px;
  }
}

/* line 598, src/scss/styles.scss */
.services__card {
  background-color: transparent;
  margin: 0 auto;
  border: none;
  text-align: center;
  max-width: 240px;
}

/* line 606, src/scss/styles.scss */
.services__icon {
  background-position: center;
  background-repeat: no-repeat;
  width: 59px;
  height: 59px;
  margin: 0 auto 15px auto;
}

@media (min-width: 576px) {
  /* line 606, src/scss/styles.scss */
  .services__icon {
    margin-bottom: 35px;
  }
}

/* line 617, src/scss/styles.scss */
.services__icon--1st {
  background-image: url("../svg/services-01.svg");
}

/* line 621, src/scss/styles.scss */
.services__icon--2nd {
  background-image: url("../svg/services-02.svg");
}

/* line 625, src/scss/styles.scss */
.services__icon--3rd {
  background-image: url("../svg/services-03.svg");
}

/* line 629, src/scss/styles.scss */
.services__icon--4th {
  background-image: url("../svg/services-04.svg");
}

/* line 634, src/scss/styles.scss */
.services__heading {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 641, src/scss/styles.scss */
.services__desc {
  margin: 0;
  color: #7e7e7e;
  font-size: 12px;
}

/* Projects */
/* line 651, src/scss/styles.scss */
.projects__panel {
  background-color: #ededed;
  border: 1px solid #cfcfcf;
  margin: 0 15px 30px 15px;
  border-radius: 20px;
  overflow: hidden;
}

@media (min-width: 768px) {
  /* line 651, src/scss/styles.scss */
  .projects__panel {
    display: inline-block;
    border-radius: 25px;
  }
}

/* line 664, src/scss/styles.scss */
.projects__button-item {
  display: inline-block;
  border: 0 solid #cfcfcf;
  margin-right: -4px;
}

@media (max-width: 768px) {
  /* line 670, src/scss/styles.scss */
  .projects__button-item:nth-child(2), .projects__button-item:nth-child(5) {
    border-width: 0 1px;
  }
  /* line 675, src/scss/styles.scss */
  .projects__button-item:nth-child(1) {
    width: 22.85714%;
  }
  /* line 679, src/scss/styles.scss */
  .projects__button-item:nth-child(2) {
    width: 28.57143%;
  }
  /* line 683, src/scss/styles.scss */
  .projects__button-item:nth-child(3) {
    width: 48.57143%;
  }
  /* line 687, src/scss/styles.scss */
  .projects__button-item:nth-child(4) {
    width: 34.28571%;
  }
  /* line 691, src/scss/styles.scss */
  .projects__button-item:nth-child(5) {
    width: 42.85714%;
  }
  /* line 695, src/scss/styles.scss */
  .projects__button-item:nth-child(6) {
    width: 22.85714%;
  }
}

@media (min-width: 768px) {
  /* line 664, src/scss/styles.scss */
  .projects__button-item {
    width: auto;
    border-width: 0;
  }
  /* line 704, src/scss/styles.scss */
  .projects__button-item:not(:last-child) {
    border-right-width: 1px;
  }
}

/* line 710, src/scss/styles.scss */
.projects__button {
  font-size: 11px;
  width: 100%;
  padding: 10px 10px;
  background-color: #ededed;
  border-width: 5px 0px;
  border-style: solid;
  border-color: #ededed;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 721, src/scss/styles.scss */
.projects__button:hover, .projects__button--active {
  border-bottom-color: #b88b58;
}

/* line 726, src/scss/styles.scss */
.projects__button:active {
  border-bottom-color: #9b764c;
}

@media (min-width: 576px) {
  /* line 710, src/scss/styles.scss */
  .projects__button {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  /* line 710, src/scss/styles.scss */
  .projects__button {
    padding: 10px 17px;
  }
}

@media (min-width: 768px) {
  /* line 740, src/scss/styles.scss */
  .projects__button-item:first-child .projects__button {
    padding-left: 35px;
  }
  /* line 744, src/scss/styles.scss */
  .projects__button-item:last-child .projects__button {
    padding-right: 35px;
  }
}

/* line 749, src/scss/styles.scss */
.projects__image-list {
  margin: auto;
  width: 100%;
}

@media (min-width: 1200px) {
  /* line 749, src/scss/styles.scss */
  .projects__image-list {
    min-height: 570px;
  }
}

/* line 758, src/scss/styles.scss */
.projects__image-list-item {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

/* line 763, src/scss/styles.scss */
.projects__image-list-item--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 768, src/scss/styles.scss */
.projects__image-container {
  max-width: 255px;
  position: relative;
}

/* line 773, src/scss/styles.scss */
.projects__image {
  width: 100%;
  display: block;
}

/* line 778, src/scss/styles.scss */
.projects__image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #000;
}

/* line 791, src/scss/styles.scss */
.projects__image-container:hover .projects__image-overlay {
  opacity: 0.75;
}

/* line 795, src/scss/styles.scss */
.projects__image-desc {
  color: white;
  font-size: 20px;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

/* line 806, src/scss/styles.scss */
.projects__image-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* line 814, src/scss/styles.scss */
.projects__image-text {
  font-size: 12px;
}

/* line 818, src/scss/styles.scss */
.projects__image-container:hover .projects__image-heading,
.projects__image-container:hover .projects__image-text {
  opacity: 1;
}

/* Team */
/* line 826, src/scss/styles.scss */
.team {
  background-image: url("../img/team-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 832, src/scss/styles.scss */
.team__header {
  margin-bottom: 0;
}

/* line 837, src/scss/styles.scss */
.team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 40px 10px;
  margin: 35px auto 0 auto;
  border-radius: 5px;
  max-width: 330px;
  background-color: #fff;
}

/* line 849, src/scss/styles.scss */
.team__image {
  width: 183px;
  border-radius: 50%;
  margin: 0 auto 35px auto;
}

/* line 855, src/scss/styles.scss */
.team__desc {
  margin-bottom: 35px;
}

/* line 859, src/scss/styles.scss */
.team__name {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
  color: #000;
}

/* line 866, src/scss/styles.scss */
.team__occupation {
  color: #000;
  font-size: 14px;
}

/* line 871, src/scss/styles.scss */
.team .slick-list {
  margin-bottom: 40px;
}

/* line 875, src/scss/styles.scss */
.team .slick-dots {
  margin: 0 auto;
}

/* Client Reviews */
/* line 883, src/scss/styles.scss */
.clients__header {
  margin-bottom: 0;
}

/* line 888, src/scss/styles.scss */
.clients__main {
  margin-top: 35px;
}

/* line 892, src/scss/styles.scss */
.clients__carousel {
  max-width: 700px;
  margin: 0 auto;
}

/* line 897, src/scss/styles.scss */
.clients__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/* line 904, src/scss/styles.scss */
.clients__photo {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 25px;
}

/* line 910, src/scss/styles.scss */
.clients__name {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
}

/* line 916, src/scss/styles.scss */
.clients__position {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

/* line 923, src/scss/styles.scss */
.clients__quote {
  margin-bottom: 0;
}

/* line 927, src/scss/styles.scss */
.clients__quote::before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  display: block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 27px;
  font-weight: 900;
  margin-bottom: 10px;
}

/* line 939, src/scss/styles.scss */
.clients .slick-list {
  margin-bottom: 30px;
}

/* line 943, src/scss/styles.scss */
.clients .slick-dots {
  margin: 0 auto;
}

/* Client Logos */
/* line 950, src/scss/styles.scss */
.client-logos {
  padding: 20px 0;
}

/* line 953, src/scss/styles.scss */
.client-logos__item {
  margin: 15px 25px;
}

/* line 957, src/scss/styles.scss */
.client-logos__image {
  display: block;
  width: 200px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 963, src/scss/styles.scss */
.client-logos__link:hover .client-logos__image {
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
}

/* line 967, src/scss/styles.scss */
.client-logos__link:active .client-logos__image {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

/* Price */
/* line 974, src/scss/styles.scss */
.package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 45px 10px;
  margin: 0 auto 15px auto;
  max-width: 350px;
  background-color: #fff;
}

/* line 984, src/scss/styles.scss */
.package__name {
  margin-bottom: 20px;
  color: #242424;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 992, src/scss/styles.scss */
.package__price {
  margin-bottom: 20px;
}

/* line 996, src/scss/styles.scss */
.package__price-number {
  color: #242424;
  font-size: 30px;
  font-weight: 700;
  line-height: 0.9em;
  font-weight: bold;
}

/* line 1004, src/scss/styles.scss */
.package__period {
  color: #888888;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 1010, src/scss/styles.scss */
.package__feature-list {
  margin-bottom: 25px;
}

/* line 1014, src/scss/styles.scss */
.package__feature {
  position: relative;
  font-size: 11px;
  color: #626262;
}

/* line 1019, src/scss/styles.scss */
.package__feature:not(:last-child) {
  padding-bottom: 15px;
}

/* line 1022, src/scss/styles.scss */
.package__feature:not(:last-child)::after {
  position: absolute;
  content: "";
  bottom: 6px;
  margin: auto;
  left: 0;
  right: 0;
  width: 8px;
  height: 1px;
  background-color: #626262;
}

/* Premium */
/* line 1040, src/scss/styles.scss */
.premium__header {
  margin-bottom: 30px;
}

/* line 1044, src/scss/styles.scss */
.premium__content {
  border-bottom: 1px solid #bebebe;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

/* line 1050, src/scss/styles.scss */
.premium__image {
  display: block;
  margin: 0 auto;
}

/* line 1055, src/scss/styles.scss */
.premium__feature-container {
  padding-top: 35px;
}

/* line 1059, src/scss/styles.scss */
.premium__feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

/* line 1063, src/scss/styles.scss */
.premium__feature-item::before {
  content: url("../img/premium-icon.png");
  margin-right: 20px;
}

/* line 1069, src/scss/styles.scss */
.premium__feature-heading {
  color: #242424;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 1076, src/scss/styles.scss */
.premium__text-container {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: 300;
}

/* line 1082, src/scss/styles.scss */
.premium__feature-desc {
  margin-bottom: 5px;
}

/* line 1086, src/scss/styles.scss */
.premium__subfeature {
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* line 1090, src/scss/styles.scss */
.premium__subfeature::before {
  content: "— ";
}

/* Facts */
/* line 1098, src/scss/styles.scss */
.fact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 40px;
  background-color: transparent;
}

/* line 1107, src/scss/styles.scss */
.fact-card__heading {
  color: #fff;
}

@media (min-width: 1200px) {
  /* line 1107, src/scss/styles.scss */
  .fact-card__heading {
    min-height: 115px;
  }
}

/* line 1115, src/scss/styles.scss */
.fact-card__number {
  display: block;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  padding-bottom: 14px;
  color: #b88b58;
}

/* line 1123, src/scss/styles.scss */
.fact-card__number::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #7e7e7e;
  bottom: 12px;
  left: calc(50% - 10px);
}

/* line 1134, src/scss/styles.scss */
.fact-card__text {
  display: block;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 1141, src/scss/styles.scss */
.fact-card__body {
  color: #7e7e7e;
  font-size: 12px;
  line-height: 21px;
}

/* Share */
/* line 1150, src/scss/styles.scss */
.share {
  padding: 25px 0;
}

/* line 1153, src/scss/styles.scss */
.share__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  /* line 1153, src/scss/styles.scss */
  .share__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* line 1167, src/scss/styles.scss */
.share__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  /* line 1167, src/scss/styles.scss */
  .share__heading {
    margin-bottom: 0;
  }
}

/* line 1178, src/scss/styles.scss */
.share__heading-icon {
  display: none;
  margin-right: 15px;
}

@media (min-width: 576px) {
  /* line 1178, src/scss/styles.scss */
  .share__heading-icon {
    display: block;
  }
}

/* line 1187, src/scss/styles.scss */
.share__heading-text {
  color: #aeaeae;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 576px) and (max-width: 768px) {
  /* line 1187, src/scss/styles.scss */
  .share__heading-text {
    display: none;
  }
}

/* line 1198, src/scss/styles.scss */
.share__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 576px) {
  /* line 1198, src/scss/styles.scss */
  .share__panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* line 1207, src/scss/styles.scss */
.share__button-item:not(:last-child) {
  margin-right: 16px;
}

@media (min-width: 576px) {
  /* line 1212, src/scss/styles.scss */
  .share__button-item:not(:last-child) {
    margin-right: 40px;
  }
}

/* line 1218, src/scss/styles.scss */
.share__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 576px) {
  /* line 1218, src/scss/styles.scss */
  .share__button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* line 1229, src/scss/styles.scss */
.share__number {
  color: #aeaeae;
  font-size: 10px;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 1236, src/scss/styles.scss */
.share__button:hover .share__number {
  color: #b88b58;
}

/* line 1240, src/scss/styles.scss */
.share__icon {
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  /* line 1240, src/scss/styles.scss */
  .share__icon {
    margin-bottom: 0;
    margin-right: 5px;
  }
}

/* Contact Us */
/* line 1253, src/scss/styles.scss */
.contact__fields {
  max-width: 530px;
  margin: 0 auto;
}

/* line 1258, src/scss/styles.scss */
.contact__message {
  resize: none;
  margin-bottom: 50px;
}

/* Contact Information */
/* line 1266, src/scss/styles.scss */
.contact-info {
  background-image: url("../img/contact-info-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* line 1273, src/scss/styles.scss */
.contact-info__content {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 30px;
}

/* line 1280, src/scss/styles.scss */
.contact-info__item:not(:last-child) {
  margin-bottom: 10px;
}

/* line 1284, src/scss/styles.scss */
.contact-info__link-substitute, .contact-info__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 1289, src/scss/styles.scss */
.contact-info__link-substitute::before, .contact-info__link::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #fff;
  text-align: center;
  background-color: #bebebe;
  border-radius: 50%;
  margin-right: 15px;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 1305, src/scss/styles.scss */
.contact-info__link-substitute--mail-location::before, .contact-info__link--mail-location::before {
  content: "\f0e0";
}

/* line 1309, src/scss/styles.scss */
.contact-info__link-substitute--location::before, .contact-info__link--location::before {
  content: "\f3c5";
}

/* line 1313, src/scss/styles.scss */
.contact-info__link-substitute--number::before, .contact-info__link--number::before {
  content: "\f095";
}

/* line 1317, src/scss/styles.scss */
.contact-info__link-substitute--email::before, .contact-info__link--email::before {
  content: "\f1fa";
}

/* line 1321, src/scss/styles.scss */
.contact-info__link-substitute--website::before, .contact-info__link--website::before {
  content: "\f0ac";
}

/* line 1326, src/scss/styles.scss */
.contact-info__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #fff;
  text-align: center;
  background-color: #bebebe;
  border-radius: 50%;
  margin-right: 15px;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 1340, src/scss/styles.scss */
.contact-info__link-substitute:hover::before, .contact-info__link:hover::before {
  background-color: #b88b58;
}

/* line 1345, src/scss/styles.scss */
.contact-info__link:active::before {
  background-color: #9b764c;
}

/* line 1349, src/scss/styles.scss */
.contact-info__text {
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 1354, src/scss/styles.scss */
.contact-info__link:hover .contact-info__text {
  color: #b88b58;
}

/* line 1358, src/scss/styles.scss */
.contact-info__link:active .contact-info__text {
  color: #9b764c;
}

/* Footer */
/* line 1365, src/scss/styles.scss */
.page-footer {
  background-color: #000;
  position: relative;
  padding: 45px 0 20px 0;
}

/* line 1370, src/scss/styles.scss */
.page-footer__top-button {
  display: block;
  position: absolute;
  top: -32px;
  left: 8%;
  width: 65px;
  height: 65px;
  background-color: #b88b58;
  border-radius: 50%;
  color: #fff;
  font-size: 1.7rem;
  line-height: 65px;
  text-align: center;
  font-size: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 1386, src/scss/styles.scss */
.page-footer__top-button:hover {
  background-color: #9b764c;
  color: #fff;
}

/* line 1391, src/scss/styles.scss */
.page-footer__top-button:active {
  background-color: #8b6c48;
  color: #fff;
}

/* line 1397, src/scss/styles.scss */
.page-footer__container {
  position: relative;
  padding-bottom: 50px;
}

@media (min-width: 992px) {
  /* line 1397, src/scss/styles.scss */
  .page-footer__container {
    padding-bottom: 0;
  }
}

/* line 1406, src/scss/styles.scss */
.page-footer__form-column, .page-footer__socials-column, .page-footer__text-column {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  /* line 1406, src/scss/styles.scss */
  .page-footer__form-column, .page-footer__socials-column, .page-footer__text-column {
    margin-bottom: 0;
  }
}

/* line 1416, src/scss/styles.scss */
.page-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  background-color: #373737;
}

/* line 1424, src/scss/styles.scss */
.page-footer__email {
  color: #fff;
  width: 220px;
  margin-bottom: 25px;
  text-align: center;
}

/* line 1431, src/scss/styles.scss */
.page-footer__socials-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  /* line 1431, src/scss/styles.scss */
  .page-footer__socials-column {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

/* line 1440, src/scss/styles.scss */
.page-footer__text-column {
  color: #7e7e7e;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
}

/* line 1447, src/scss/styles.scss */
.page-footer__copyright {
  position: absolute;
  left: 50%;
  margin-left: -45px;
  bottom: 20px;
  font-size: 14px;
  color: #fff;
}

@media (min-width: 992px) {
  /* line 1447, src/scss/styles.scss */
  .page-footer__copyright {
    bottom: 0;
    left: 15px;
    margin-left: 0;
  }
}
