@charset "UTF-8";
/* Table of Contents
- - - - - - - - -
Variables
Global Styles
Tag Styles
Class Styles
Local Styles
Header
About
Services
Projects
Team
Client Reviews
Client Logos
Price
Premium
Facts
Share
Contact Us
Contact Information
Footer
- - - - - - - - -
*/
/* Variables */
/* Global Styles */
/* Tag Styles */
/* line 35, src/sass/styles.scss */
html {
  scroll-behavior: smooth;
}

/* line 39, src/sass/styles.scss */
body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #7e7e7e;
  background-color: #000;
}

/* line 46, src/sass/styles.scss */
a {
  color: inherit;
}

/* line 49, src/sass/styles.scss */
a:hover, a:focus, a:active {
  text-decoration: inherit;
}

/* line 56, src/sass/styles.scss */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

/* line 64, src/sass/styles.scss */
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

/* Class Styles */
/* line 72, src/sass/styles.scss */
.section {
  padding: 50px 0;
  background-color: #000000;
}

/* line 76, src/sass/styles.scss */
.section--gray {
  background-color: #f7f7f7;
}

/* line 80, src/sass/styles.scss */
.section--white {
  background-color: #fff;
}

/* line 84, src/sass/styles.scss */
.section__header {
  text-align: center;
  margin-bottom: 35px;
  text-transform: uppercase;
}

/* line 91, src/sass/styles.scss */
.section__heading {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #000;
}

/* line 97, src/sass/styles.scss */
.section__heading--white {
  color: #fff;
}

/* line 102, src/sass/styles.scss */
.section__subheading {
  font-size: 14px;
  color: #aeaeae;
  font-weight: 600;
}

/* line 109, src/sass/styles.scss */
.button {
  display: inline-block;
  padding: 10px 35px;
  color: #fff;
  background-color: #b88b58;
  border-width: 0;
  border-radius: 35px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 121, src/sass/styles.scss */
.button:hover {
  background-color: #9b764c;
  color: #fff;
}

/* line 126, src/sass/styles.scss */
.button:active {
  background-color: #8b6c48;
  color: #fff;
}

/* line 131, src/sass/styles.scss */
.button--black {
  background-color: #000;
}

/* line 134, src/sass/styles.scss */
.button--black:hover {
  background-color: #b88b58;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 139, src/sass/styles.scss */
.button--black:active {
  background-color: #9b764c;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 147, src/sass/styles.scss */
.socials-panel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* line 153, src/sass/styles.scss */
.socials-panel__item:not(:last-child) {
  margin-right: 5px;
}

/* line 158, src/sass/styles.scss */
.social-icon {
  color: #fff;
  background-color: #bebebe;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 33px;
  width: 33px;
  height: 33px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 169, src/sass/styles.scss */
a:hover .social-icon {
  background-color: #b88b58;
}

/* line 173, src/sass/styles.scss */
a:active .social-icon {
  background-color: #9b764c;
}

/* line 177, src/sass/styles.scss */
.social-icon--dark {
  background-color: #373737;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 182, src/sass/styles.scss */
.social-icon--twitter {
  background-color: #34c5f0;
}

/* line 186, src/sass/styles.scss */
.social-icon--linkedin {
  background-color: #127cb4;
}

/* line 190, src/sass/styles.scss */
.social-icon--facebook {
  background-color: #336297;
}

/* line 194, src/sass/styles.scss */
.social-icon--instagram {
  background-color: #dd2a7b;
}

/* line 198, src/sass/styles.scss */
.social-icon--pinterest {
  background-color: #b71c29;
}

/* line 203, src/sass/styles.scss */
.form-field {
  font-size: 13px;
  background-color: transparent;
  width: 100%;
  padding: 15px 0;
  border-width: 0 0 2px 0;
  border-color: #a4a4a4;
  margin-bottom: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 213, src/sass/styles.scss */
.form-field::-webkit-input-placeholder {
  color: #9e9e9e;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-field::-moz-placeholder {
  color: #9e9e9e;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-field:-ms-input-placeholder {
  color: #9e9e9e;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-field::-ms-input-placeholder {
  color: #9e9e9e;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-field::placeholder {
  color: #9e9e9e;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 219, src/sass/styles.scss */
.form-field:focus {
  border-color: #b88b58;
}

/* line 222, src/sass/styles.scss */
.form-field:focus::-webkit-input-placeholder {
  color: #b88b58;
}
.form-field:focus::-moz-placeholder {
  color: #b88b58;
}
.form-field:focus:-ms-input-placeholder {
  color: #b88b58;
}
.form-field:focus::-ms-input-placeholder {
  color: #b88b58;
}
.form-field:focus::placeholder {
  color: #b88b58;
}

/* line 228, src/sass/styles.scss */
.slick-slide,
.slick-slide * {
  outline: none;
}

/* line 233, src/sass/styles.scss */
.slick-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

/* line 239, src/sass/styles.scss */
.slick-dots {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* line 242, src/sass/styles.scss */
.slick-dots li {
  line-height: 0;
}

/* line 245, src/sass/styles.scss */
.slick-dots li:not(:last-child) {
  margin-right: 10px;
}

/* line 250, src/sass/styles.scss */
.slick-dots button {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border-color: #b88b58;
  border-radius: 50%;
  border-style: solid;
  padding: 0;
  text-indent: -9999px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 263, src/sass/styles.scss */
.slick-dots li:hover button {
  border-color: #9b764c;
}

/* line 267, src/sass/styles.scss */
.slick-dots li:active button {
  border-color: #8b6c48;
}

/* line 272, src/sass/styles.scss */
.slick-dots li.slick-active button {
  background-color: #b88b58;
}

/* line 276, src/sass/styles.scss */
.slick-dots li.slick-active:hover button {
  background-color: #9b764c;
}

/* line 280, src/sass/styles.scss */
.slick-dots li.slick-active:active button {
  background-color: #8b6c48;
}

/* Local Styles */
/* line 289, src/sass/styles.scss */
.page-body {
  position: relative;
}

/* line 293, src/sass/styles.scss */
.top-bar {
  background-color: #000;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 84px;
  z-index: 10;
}

@media (min-width: 992px) {
  /* line 293, src/sass/styles.scss */
  .top-bar {
    padding: 0;
  }
}

/* line 308, src/sass/styles.scss */
.top-bar__inner {
  padding: 0;
}

/* line 312, src/sass/styles.scss */
.top-bar__toggler-icon {
  font-size: 30px;
  color: #fff;
}

/* line 318, src/sass/styles.scss */
.logo {
  margin: 0;
}

/* line 322, src/sass/styles.scss */
.main-nav {
  margin-top: 15px;
}

@media (min-width: 992px) {
  /* line 322, src/sass/styles.scss */
  .main-nav {
    margin-top: 0;
  }
}

/* line 329, src/sass/styles.scss */
.main-nav__link {
  display: block;
  border-width: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
  /* line 329, src/sass/styles.scss */
  .main-nav__link {
    padding: 33px 5px 30px 5px !important;
    border-bottom: 5px solid #000;
    font-size: 11px;
  }
}

@media (min-width: 1200px) {
  /* line 329, src/sass/styles.scss */
  .main-nav__link {
    padding: 30px 10px 28px 10px !important;
    font-size: 14px;
  }
}

/* line 349, src/sass/styles.scss */
.main-nav__link:hover, .main-nav__link.active {
  color: #b88b58;
}

@media (min-width: 992px) {
  /* line 349, src/sass/styles.scss */
  .main-nav__link:hover, .main-nav__link.active {
    color: #fff;
    border-color: #b88b58;
  }
}

/* line 359, src/sass/styles.scss */
.main-nav__link:active {
  color: #9b764c;
}

@media (min-width: 992px) {
  /* line 359, src/sass/styles.scss */
  .main-nav__link:active {
    color: #fff;
    border-color: #9b764c;
  }
}

/* line 370, src/sass/styles.scss */
.main-nav-toggler {
  padding: 4px;
  border-width: 0;
  margin: 10px 0;
}

@media (min-width: 992px) {
  /* line 370, src/sass/styles.scss */
  .main-nav-toggler {
    margin: 23px 0;
  }
}

/* line 380, src/sass/styles.scss */
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 384, src/sass/styles.scss */
.phone-button {
  display: block;
  position: fixed;
  width: 65px;
  height: 65px;
  background-color: #b88b58;
  border-radius: 50%;
  color: #fff;
  bottom: 25px;
  right: 25px;
  z-index: 1030;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  /* line 384, src/sass/styles.scss */
  .phone-button {
    bottom: 60px;
    right: 80px;
  }
}

/* line 402, src/sass/styles.scss */
.phone-button:hover {
  background-color: #9b764c;
  color: #fff;
}

/* line 407, src/sass/styles.scss */
.phone-button:active {
  background-color: #8b6c48;
  color: #fff;
}

/* line 412, src/sass/styles.scss */
.phone-button__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

/* line 420, src/sass/styles.scss */
.phone-button__icon {
  width: 40px;
}

/* Header */
/* line 427, src/sass/styles.scss */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 84px;
}

/* line 433, src/sass/styles.scss */
.hero-carousel {
  width: 100%;
  height: 100%;
}

/* line 437, src/sass/styles.scss */
.hero-carousel .slick-list,
.hero-carousel .slick-track {
  height: 100%;
}

/* line 442, src/sass/styles.scss */
.hero-carousel .slick-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* line 450, src/sass/styles.scss */
.hero-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4d4d4d;
  color: #ffffff;
  text-transform: uppercase;
  height: 100%;
}

/* line 459, src/sass/styles.scss */
.hero-slide--1st {
  background-image: url("../img/hero-image-01.jpg");
}

/* line 463, src/sass/styles.scss */
.hero-slide--2nd {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/hero-image-02.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hero-image-02.jpg");
}

/* line 468, src/sass/styles.scss */
.hero-slide--3rd {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/hero-image-03.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-image-03.jpg");
}

/* line 473, src/sass/styles.scss */
.hero-slide__slogan {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 0.9em;
  font-weight: bold;
}

@media (min-width: 576px) {
  /* line 473, src/sass/styles.scss */
  .hero-slide__slogan {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  /* line 473, src/sass/styles.scss */
  .hero-slide__slogan {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  /* line 473, src/sass/styles.scss */
  .hero-slide__slogan {
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  /* line 473, src/sass/styles.scss */
  .hero-slide__slogan {
    font-size: 72px;
  }
}

/* line 496, src/sass/styles.scss */
.hero-slide__upper-slogan {
  color: #ffffff;
}

/* line 500, src/sass/styles.scss */
.hero-slide__lower-slogan {
  color: #b88b58;
}

/* line 504, src/sass/styles.scss */
.hero-slide__suggestion {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 600;
}

@media (min-width: 576px) {
  /* line 504, src/sass/styles.scss */
  .hero-slide__suggestion {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  /* line 504, src/sass/styles.scss */
  .hero-slide__suggestion {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  /* line 504, src/sass/styles.scss */
  .hero-slide__suggestion {
    font-size: 24px;
  }
}

/* line 522, src/sass/styles.scss */
.hero-slide__link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 525, src/sass/styles.scss */
.hero-slide__link:hover {
  color: #b88b58;
}

/* line 529, src/sass/styles.scss */
.hero-slide__link:active {
  color: #9b764c;
}

/* About */
/* line 538, src/sass/styles.scss */
.about__text {
  color: #242424;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 30px;
}

/* line 546, src/sass/styles.scss */
.about__image-link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 549, src/sass/styles.scss */
.about__image-link:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

/* line 553, src/sass/styles.scss */
.about__image-link:active {
  -webkit-filter: brightness(1.25);
          filter: brightness(1.25);
}

/* line 558, src/sass/styles.scss */
.about__image {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* Services */
/* line 566, src/sass/styles.scss */
.services__card-item {
  padding-bottom: 35px;
  border: 0 solid #383838;
}

/* line 571, src/sass/styles.scss */
.services__card-item:last-child {
  padding-bottom: 0;
}

@media (min-width: 576px) {
  /* line 576, src/sass/styles.scss */
  .services__card-item:nth-child(3) {
    padding-bottom: 0;
  }
  /* line 580, src/sass/styles.scss */
  .services__card-item:nth-child(odd) {
    border-right-width: 2px;
  }
}

@media (min-width: 1200px) {
  /* line 566, src/sass/styles.scss */
  .services__card-item {
    border-right-width: 2px;
    padding-bottom: 0;
  }
  /* line 589, src/sass/styles.scss */
  .services__card-item:first-child {
    border-left-width: 2px;
  }
}

/* line 595, src/sass/styles.scss */
.services__card {
  background-color: transparent;
  margin: 0 auto;
  border: none;
  text-align: center;
  max-width: 240px;
}

/* line 603, src/sass/styles.scss */
.services__icon {
  background-position: center;
  background-repeat: no-repeat;
  width: 59px;
  height: 59px;
  margin: 0 auto 15px auto;
}

@media (min-width: 576px) {
  /* line 603, src/sass/styles.scss */
  .services__icon {
    margin-bottom: 35px;
  }
}

/* line 614, src/sass/styles.scss */
.services__icon--1st {
  background-image: url("../svg/services-01.svg");
}

/* line 618, src/sass/styles.scss */
.services__icon--2nd {
  background-image: url("../svg/services-02.svg");
}

/* line 622, src/sass/styles.scss */
.services__icon--3rd {
  background-image: url("../svg/services-03.svg");
}

/* line 626, src/sass/styles.scss */
.services__icon--4th {
  background-image: url("../svg/services-04.svg");
}

/* line 631, src/sass/styles.scss */
.services__heading {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 638, src/sass/styles.scss */
.services__desc {
  margin: 0;
  color: #7e7e7e;
  font-size: 12px;
}

/* Projects */
/* line 648, src/sass/styles.scss */
.projects__panel {
  background-color: #ededed;
  border: 1px solid #cfcfcf;
  margin: 0 15px 30px 15px;
  border-radius: 20px;
  overflow: hidden;
}

@media (min-width: 768px) {
  /* line 648, src/sass/styles.scss */
  .projects__panel {
    display: inline-block;
    border-radius: 25px;
  }
}

/* line 661, src/sass/styles.scss */
.projects__button-item {
  display: inline-block;
  border: 0 solid #cfcfcf;
  margin-right: -4px;
}

@media (max-width: 768px) {
  /* line 667, src/sass/styles.scss */
  .projects__button-item:nth-child(2), .projects__button-item:nth-child(5) {
    border-width: 0 1px;
  }
  /* line 672, src/sass/styles.scss */
  .projects__button-item:nth-child(1) {
    width: 22.85714%;
  }
  /* line 676, src/sass/styles.scss */
  .projects__button-item:nth-child(2) {
    width: 28.57143%;
  }
  /* line 680, src/sass/styles.scss */
  .projects__button-item:nth-child(3) {
    width: 48.57143%;
  }
  /* line 684, src/sass/styles.scss */
  .projects__button-item:nth-child(4) {
    width: 34.28571%;
  }
  /* line 688, src/sass/styles.scss */
  .projects__button-item:nth-child(5) {
    width: 42.85714%;
  }
  /* line 692, src/sass/styles.scss */
  .projects__button-item:nth-child(6) {
    width: 22.85714%;
  }
}

@media (min-width: 768px) {
  /* line 661, src/sass/styles.scss */
  .projects__button-item {
    width: auto;
    border-width: 0;
  }
  /* line 701, src/sass/styles.scss */
  .projects__button-item:not(:last-child) {
    border-right-width: 1px;
  }
}

/* line 707, src/sass/styles.scss */
.projects__button {
  font-size: 11px;
  width: 100%;
  padding: 10px 10px;
  background-color: #ededed;
  border-width: 5px 0px;
  border-style: solid;
  border-color: #ededed;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 718, src/sass/styles.scss */
.projects__button:hover, .projects__button--active {
  border-bottom-color: #b88b58;
}

/* line 723, src/sass/styles.scss */
.projects__button:active {
  border-bottom-color: #9b764c;
}

@media (min-width: 576px) {
  /* line 707, src/sass/styles.scss */
  .projects__button {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  /* line 707, src/sass/styles.scss */
  .projects__button {
    padding: 10px 17px;
  }
}

@media (min-width: 768px) {
  /* line 737, src/sass/styles.scss */
  .projects__button-item:first-child .projects__button {
    padding-left: 35px;
  }
  /* line 741, src/sass/styles.scss */
  .projects__button-item:last-child .projects__button {
    padding-right: 35px;
  }
}

/* line 746, src/sass/styles.scss */
.projects__image-list {
  margin: auto;
  width: 100%;
}

@media (min-width: 1200px) {
  /* line 746, src/sass/styles.scss */
  .projects__image-list {
    min-height: 570px;
  }
}

/* line 755, src/sass/styles.scss */
.projects__image-list-item {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

/* line 760, src/sass/styles.scss */
.projects__image-list-item--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 765, src/sass/styles.scss */
.projects__image-container {
  max-width: 255px;
  position: relative;
}

/* line 770, src/sass/styles.scss */
.projects__image {
  width: 100%;
  display: block;
}

/* line 775, src/sass/styles.scss */
.projects__image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #000;
}

/* line 788, src/sass/styles.scss */
.projects__image-container:hover .projects__image-overlay {
  opacity: 0.75;
}

/* line 792, src/sass/styles.scss */
.projects__image-desc {
  color: white;
  font-size: 20px;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

/* line 803, src/sass/styles.scss */
.projects__image-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* line 811, src/sass/styles.scss */
.projects__image-text {
  font-size: 12px;
}

/* line 815, src/sass/styles.scss */
.projects__image-container:hover .projects__image-heading,
.projects__image-container:hover .projects__image-text {
  opacity: 1;
}

/* Team */
/* line 823, src/sass/styles.scss */
.team {
  background-image: url("../img/team-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 829, src/sass/styles.scss */
.team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 40px 10px;
  margin: 0 auto;
  border-radius: 5px;
  max-width: 330px;
  background-color: #fff;
}

/* line 841, src/sass/styles.scss */
.team__image {
  width: 183px;
  border-radius: 50%;
  margin: 0 auto 35px auto;
}

/* line 847, src/sass/styles.scss */
.team__desc {
  margin-bottom: 35px;
}

/* line 851, src/sass/styles.scss */
.team__name {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
  color: #000;
}

/* line 858, src/sass/styles.scss */
.team__occupation {
  color: #000;
  font-size: 14px;
}

/* line 863, src/sass/styles.scss */
.team .slick-list {
  margin-bottom: 40px;
}

/* line 867, src/sass/styles.scss */
.team .slick-dots {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Client Reviews */
/* line 875, src/sass/styles.scss */
.clients__carousel {
  max-width: 700px;
  margin: 0 auto;
}

/* line 880, src/sass/styles.scss */
.clients__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/* line 887, src/sass/styles.scss */
.clients__photo {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 25px;
}

/* line 893, src/sass/styles.scss */
.clients__name {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
}

/* line 899, src/sass/styles.scss */
.clients__position {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

/* line 906, src/sass/styles.scss */
.clients__quote::before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  display: block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 27px;
  font-weight: 900;
  margin-bottom: 15px;
}

/* line 918, src/sass/styles.scss */
.clients .slick-list {
  margin-bottom: 30px;
}

/* line 922, src/sass/styles.scss */
.clients .slick-dots {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Client Logos */
/* line 929, src/sass/styles.scss */
.client-logos {
  padding: 20px 0;
}

/* line 932, src/sass/styles.scss */
.client-logos__item {
  margin: 15px 25px;
}

/* line 936, src/sass/styles.scss */
.client-logos__image {
  display: block;
  width: 200px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 942, src/sass/styles.scss */
.client-logos__link:hover .client-logos__image {
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
}

/* line 946, src/sass/styles.scss */
.client-logos__link:active .client-logos__image {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

/* Price */
/* line 953, src/sass/styles.scss */
.package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 45px 10px;
  margin: 0 auto 15px auto;
  max-width: 350px;
  background-color: #fff;
}

/* line 963, src/sass/styles.scss */
.package__name {
  margin-bottom: 20px;
  color: #242424;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 971, src/sass/styles.scss */
.package__price {
  margin-bottom: 20px;
}

/* line 975, src/sass/styles.scss */
.package__price-number {
  color: #242424;
  font-size: 30px;
  font-weight: 700;
  line-height: 0.9em;
  font-weight: bold;
}

/* line 983, src/sass/styles.scss */
.package__period {
  color: #999999;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 989, src/sass/styles.scss */
.package__feature-list {
  margin-bottom: 25px;
}

/* line 993, src/sass/styles.scss */
.package__feature {
  position: relative;
  font-size: 11px;
  color: #757575;
}

/* line 998, src/sass/styles.scss */
.package__feature:not(:last-child) {
  padding-bottom: 15px;
}

/* line 1001, src/sass/styles.scss */
.package__feature:not(:last-child)::after {
  position: absolute;
  content: "";
  bottom: 6px;
  margin: auto;
  left: 0;
  right: 0;
  width: 8px;
  height: 1px;
  background-color: #757575;
}

/* Premium */
/* line 1019, src/sass/styles.scss */
.premium__header {
  margin-bottom: 30px;
}

/* line 1023, src/sass/styles.scss */
.premium__content {
  border-bottom: 1px solid #bebebe;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

/* line 1029, src/sass/styles.scss */
.premium__image {
  display: block;
  margin: 0 auto;
}

/* line 1034, src/sass/styles.scss */
.premium__feature-container {
  padding-top: 35px;
}

/* line 1038, src/sass/styles.scss */
.premium__feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

/* line 1042, src/sass/styles.scss */
.premium__feature-item::before {
  content: url("../img/premium-icon.png");
  margin-right: 20px;
}

/* line 1048, src/sass/styles.scss */
.premium__feature-heading {
  color: #242424;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 1055, src/sass/styles.scss */
.premium__text-container {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: 300;
}

/* line 1061, src/sass/styles.scss */
.premium__feature-desc {
  margin-bottom: 5px;
}

/* line 1065, src/sass/styles.scss */
.premium__subfeature {
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* line 1069, src/sass/styles.scss */
.premium__subfeature::before {
  content: "— ";
}

/* Facts */
/* line 1077, src/sass/styles.scss */
.fact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 40px;
  background-color: transparent;
}

/* line 1086, src/sass/styles.scss */
.fact-card__heading {
  color: #fff;
}

@media (min-width: 1200px) {
  /* line 1086, src/sass/styles.scss */
  .fact-card__heading {
    min-height: 115px;
  }
}

/* line 1094, src/sass/styles.scss */
.fact-card__number {
  font-size: 48px;
  font-weight: 700;
  position: relative;
  padding-bottom: 14px;
  color: #b88b58;
}

/* line 1101, src/sass/styles.scss */
.fact-card__number::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #7e7e7e;
  bottom: 12px;
  left: calc(50% - 10px);
}

/* line 1112, src/sass/styles.scss */
.fact-card__text {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 1118, src/sass/styles.scss */
.fact-card__body {
  color: #7e7e7e;
  font-size: 12px;
  line-height: 21px;
}

/* Share */
/* line 1127, src/sass/styles.scss */
.share {
  padding: 25px 0;
}

/* line 1130, src/sass/styles.scss */
.share__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  /* line 1130, src/sass/styles.scss */
  .share__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* line 1144, src/sass/styles.scss */
.share__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  /* line 1144, src/sass/styles.scss */
  .share__heading {
    margin-bottom: 0;
  }
}

/* line 1155, src/sass/styles.scss */
.share__heading-icon {
  display: none;
  margin-right: 15px;
}

@media (min-width: 576px) {
  /* line 1155, src/sass/styles.scss */
  .share__heading-icon {
    display: block;
  }
}

/* line 1164, src/sass/styles.scss */
.share__heading-text {
  color: #aeaeae;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 576px) and (max-width: 768px) {
  /* line 1164, src/sass/styles.scss */
  .share__heading-text {
    display: none;
  }
}

/* line 1175, src/sass/styles.scss */
.share__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 576px) {
  /* line 1175, src/sass/styles.scss */
  .share__panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* line 1184, src/sass/styles.scss */
.share__button-item:not(:last-child) {
  margin-right: 16px;
}

@media (min-width: 576px) {
  /* line 1189, src/sass/styles.scss */
  .share__button-item:not(:last-child) {
    margin-right: 40px;
  }
}

/* line 1195, src/sass/styles.scss */
.share__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 576px) {
  /* line 1195, src/sass/styles.scss */
  .share__button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* line 1206, src/sass/styles.scss */
.share__number {
  color: #aeaeae;
  font-size: 10px;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 1213, src/sass/styles.scss */
.share__button:hover .share__number {
  color: #b88b58;
}

/* line 1217, src/sass/styles.scss */
.share__icon {
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  /* line 1217, src/sass/styles.scss */
  .share__icon {
    margin-bottom: 0;
    margin-right: 5px;
  }
}

/* Contact Us */
/* line 1230, src/sass/styles.scss */
.contact__fields {
  max-width: 530px;
  margin: 0 auto;
}

/* line 1235, src/sass/styles.scss */
.contact__message {
  resize: none;
  margin-bottom: 50px;
}

/* Contact Information */
/* line 1243, src/sass/styles.scss */
.contact-info {
  background-image: url("../img/contact-info-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* line 1250, src/sass/styles.scss */
.contact-info__content {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 30px;
}

/* line 1257, src/sass/styles.scss */
.contact-info__item:not(:last-child) {
  margin-bottom: 10px;
}

/* line 1261, src/sass/styles.scss */
.contact-info__link-substitute, .contact-info__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 1266, src/sass/styles.scss */
.contact-info__link-substitute::before, .contact-info__link::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #fff;
  text-align: center;
  background-color: #bebebe;
  border-radius: 50%;
  margin-right: 15px;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 1282, src/sass/styles.scss */
.contact-info__link-substitute--mail-location::before, .contact-info__link--mail-location::before {
  content: "\f0e0";
}

/* line 1286, src/sass/styles.scss */
.contact-info__link-substitute--location::before, .contact-info__link--location::before {
  content: "\f3c5";
}

/* line 1290, src/sass/styles.scss */
.contact-info__link-substitute--number::before, .contact-info__link--number::before {
  content: "\f095";
}

/* line 1294, src/sass/styles.scss */
.contact-info__link-substitute--email::before, .contact-info__link--email::before {
  content: "\f1fa";
}

/* line 1298, src/sass/styles.scss */
.contact-info__link-substitute--website::before, .contact-info__link--website::before {
  content: "\f0ac";
}

/* line 1303, src/sass/styles.scss */
.contact-info__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #fff;
  text-align: center;
  background-color: #bebebe;
  border-radius: 50%;
  margin-right: 15px;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 1317, src/sass/styles.scss */
.contact-info__link-substitute:hover::before, .contact-info__link:hover::before {
  background-color: #b88b58;
}

/* line 1322, src/sass/styles.scss */
.contact-info__link:active::before {
  background-color: #9b764c;
}

/* line 1326, src/sass/styles.scss */
.contact-info__text {
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 1331, src/sass/styles.scss */
.contact-info__link:hover .contact-info__text {
  color: #b88b58;
}

/* line 1335, src/sass/styles.scss */
.contact-info__link:active .contact-info__text {
  color: #9b764c;
}

/* Footer */
/* line 1342, src/sass/styles.scss */
.page-footer {
  background-color: #000;
  position: relative;
  padding: 45px 0 20px 0;
}

/* line 1347, src/sass/styles.scss */
.page-footer__top-button {
  display: block;
  position: absolute;
  top: -32px;
  left: 8%;
  width: 65px;
  height: 65px;
  background-color: #b88b58;
  border-radius: 50%;
  color: #fff;
  font-size: 1.7rem;
  line-height: 65px;
  text-align: center;
  font-size: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 1363, src/sass/styles.scss */
.page-footer__top-button:hover {
  background-color: #9b764c;
  color: #fff;
}

/* line 1368, src/sass/styles.scss */
.page-footer__top-button:active {
  background-color: #8b6c48;
  color: #fff;
}

/* line 1374, src/sass/styles.scss */
.page-footer__container {
  position: relative;
  padding-bottom: 50px;
}

@media (min-width: 992px) {
  /* line 1374, src/sass/styles.scss */
  .page-footer__container {
    padding-bottom: 0;
  }
}

/* line 1383, src/sass/styles.scss */
.page-footer__form-column, .page-footer__socials-column, .page-footer__text-column {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  /* line 1383, src/sass/styles.scss */
  .page-footer__form-column, .page-footer__socials-column, .page-footer__text-column {
    margin-bottom: 0;
  }
}

/* line 1393, src/sass/styles.scss */
.page-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  background-color: #373737;
}

/* line 1401, src/sass/styles.scss */
.page-footer__email {
  color: #fff;
  width: 220px;
  margin-bottom: 25px;
  text-align: center;
}

/* line 1408, src/sass/styles.scss */
.page-footer__socials-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  /* line 1408, src/sass/styles.scss */
  .page-footer__socials-column {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

/* line 1417, src/sass/styles.scss */
.page-footer__text-column {
  color: #7e7e7e;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
}

/* line 1424, src/sass/styles.scss */
.page-footer__copyright {
  position: absolute;
  left: 50%;
  margin-left: -45px;
  bottom: 20px;
  font-size: 14px;
  color: #fff;
}

@media (min-width: 992px) {
  /* line 1424, src/sass/styles.scss */
  .page-footer__copyright {
    bottom: 0;
    left: 15px;
    margin-left: 0;
  }
}
