/* Table of Contents
	- - - - - - - - -
	Variables
	Global Styles
		Tag Styles
		Class Styles
	Local Styles
		Header
		About
		Services
		Projects
		Team
		Client Reviews
		Client Logos
		Price
		Premium
		Facts
		Share
		Contact Us
		Contact Information
		Footer
	- - - - - - - - -
 */

/* Variables */

$primary-color: #b88b58;
$primary-color-dark: #9b764c;
$primary-color-darker: #8b6c48;
$dark-gray: #373737;

/* Global Styles */
/* Tag Styles */

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	color: #7e7e7e;
}

a {
	color: inherit;

	&:hover,
	&:focus,
	&:active {
		text-decoration: inherit;
	}
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-inline-start: 0;
}

button:focus,
input:focus,
textarea:focus {
	outline: none;
}

::placeholder {
	color: #9e9e9e;
	text-transform: uppercase;
}

/* Class Styles */

.container {
	margin: 0 auto;
}

.section {
	padding: 50px 0;
	background-color: #000000;

	&--gray {
		background-color: #f7f7f7;
	}

	&--white {
		background-color: #fff;
	}

	&__header {
		text-align: center;
		margin-bottom: 30px;
		text-transform: uppercase;

		@media (min-width: 576px) {
			margin-bottom: 50px;
		}
	}

	&__heading {
		font-size: 30px;
		margin-bottom: 15px;
		font-weight: 700;
		color: #000;

		&--white {
			color: #fff;
		}
	}

	&__subheading {
		font-size: 14px;
		color: #aeaeae;
		font-weight: 600;
	}
}

.button {
	display: inline-block;
	padding: 10px 35px;
	color: #fff;
	background-color: $primary-color;
	border-width: 0;
	border-radius: 35px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: $primary-color-dark;
		color: #fff;
	}

	&:active {
		background-color: $primary-color-darker;
		color: #fff;
	}

	&--black {
		background-color: #000;

		&:hover {
			background-color: $primary-color;
			transition: all 0.4s ease-in-out;
		}

		&:active {
			background-color: $primary-color-dark;
			transition: all 0.2s ease-in-out;
		}
	}
}

.social-icon {
	color: #fff;
	background-color: #bebebe;
	border-radius: 50%;
	display: block;
	text-align: center;
	line-height: 33px;
	width: 33px;
	height: 33px;
	transition: all 0.2s ease-in-out;

	a:hover & {
		background-color: $primary-color;
	}

	a:active & {
		background-color: $primary-color-dark;
	}

	&--dark {
		background-color: #373737;
		transition: all 0.3s ease-in-out;
	}

	&--twitter {
		background-color: #34c5f0;
	}

	&--linkedin {
		background-color: #127cb4;
	}

	&--facebook {
		background-color: #336297;
	}

	&--instagram {
		background-color: #dd2a7b;
	}

	&--pinterest {
		background-color: #b71c29;
	}
}

.socials-panel {
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__item {
		margin: 0 2px;
	}
}

.form-field {
	font-size: 13px;
	font-family: "Montserrat", sans-serif;
	background-color: transparent;
	width: 100%;
	padding: 15px 0;
	border-width: 0 0 2px 0;
	border-color: #a4a4a4;
	margin-bottom: 30px;
	transition: all 0.2s ease-in-out;

	&:focus {
		border-color: $primary-color;
	}
}

.slick-slide,
.slick-slide * {
	outline: none;
}

.slick-slider {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.slick-dots {
	display: inline-flex;

	li {
		line-height: 0;
		margin: 0 5px;
	}

	button {
		width: 14px;
		height: 14px;
		background-color: transparent;
		border-color: $primary-color;
		border-radius: 50%;
		border-style: solid;
		padding: 0;
		text-indent: -9999px;
		transition: all 0.2s ease-in-out;
	}

	li {
		&:hover button {
			border-color: $primary-color-dark;
		}

		&:active button {
			border-color: $primary-color-darker;
		}

		&.slick-active {
			button {
				background-color: $primary-color;
			}

			&:hover button {
				background-color: $primary-color-dark;
			}

			&:active button {
				background-color: $primary-color-darker;
			}
		}
	}
}

/* Page Styles */

.page-body {
	position: relative;
}

.phone-button {
	display: block;
	position: fixed;
	width: 65px;
	height: 65px;
	background-color: $primary-color;
	border-radius: 50%;
	color: #fff;
	bottom: 25px;
	right: 25px;
	z-index: 1030;
	transition: all 0.3s ease-in-out;

	@media (min-width: 1200px) {
		bottom: 60px;
		right: 80px;
	}

	&:hover {
		background-color: $primary-color-dark;
		color: #fff;
	}

	&:active {
		background-color: $primary-color-darker;
		color: #fff;
	}

	&__flex {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__icon {
		width: 40px;
	}
}

/* Header */

.page-header {
	display: flex;
	height: 100vh;
	padding-top: 84px;
}

.top-bar {
	background-color: #000;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 10;

	@media (min-width: 992px) {
		padding: 0;
	}

	&__inner {
		padding: 0 0 0 15px;
	}

	&__toggler-icon {
		font-size: 30px;
		color: #fff;
	}
}

.main-nav {
	&__link {
		display: block;

		padding-top: 5px;
		border-bottom: 5px solid #000;
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		transition: all 0.3s ease-in-out;

		&--active,
		&:hover {
			color: $primary-color;

			@media (min-width: 992px) {
				color: #fff;
				border-color: $primary-color;
			}
		}

		@media (min-width: 992px) {
			padding: 33px 5px 30px 5px;
			font-size: 11px;
		}

		@media (min-width: 1200px) {
			padding: 30px 10px 28px 10px;
			font-size: 14px;
		}
	}

	&__toggler {
		border-width: 0;
		margin: 23px 0;
	}
}

.navbar-nav {
	display: flex;
}

.hero-carousel {
	width: 100%;
	height: 100%;

	.slick-list,
	.slick-track {
		height: 100%;
	}

	.slick-dots {
		position: absolute;
		bottom: 30px;
		left: 50%;
		margin-left: -36px;
	}
}

.hero {
	background-image: url("../img/hero-image-01.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	text-transform: uppercase;
	height: 100%;

	&:nth-child(3) {
		background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
			url("../img/hero-image-02.jpg");
	}

	&:nth-child(4) {
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
			url("../img/hero-image-03.jpg");
	}

	&__slogan {
		margin-bottom: 30px;
		font-size: 30px;
		line-height: 0.9em;
		font-weight: bold;

		@media (min-width: 576px) {
			font-size: 40px;
		}

		@media (min-width: 768px) {
			font-size: 50px;
		}

		@media (min-width: 992px) {
			font-size: 60px;
		}

		@media (min-width: 1200px) {
			font-size: 72px;
		}
	}

	&__upper-slogan {
		color: #ffffff;
	}

	&__lower-slogan {
		color: #b88b58;
	}

	&__suggestion {
		margin-bottom: 40px;
		font-size: 18px;
		font-weight: 600;

		@media (min-width: 576px) {
			font-size: 20px;
		}

		@media (min-width: 768px) {
			font-size: 22px;
		}

		@media (min-width: 992px) {
			font-size: 24 px;
		}
	}

	&__link {
		transition: all 0.2s ease-in-out;

		&:hover {
			color: $primary-color;
		}

		&:active {
			color: $primary-color-dark;
		}
	}
}

/* About */

.about {
	&__text {
		color: #242424;
		font-size: 14px;
		font-weight: 300;
		line-height: 25px;
		margin-bottom: 30px;
	}

	&__image {
		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
		transition: all 0.2s ease-in-out;
		cursor: pointer;

		&:hover {
			filter: brightness(1.2);
		}
	}
}

/* Services */

.services {
	&__card-item {
		padding-bottom: 35px;
		border: 0 solid #383838;

		&:last-child {
			padding-bottom: 0;
		}

		@media (min-width: 576px) {
			&:nth-child(3),
			&:nth-child(4) {
				padding-bottom: 0;
			}

			&:nth-child(odd) {
				border-right-width: 2px;
			}
		}

		@media (min-width: 1200px) {
			border-right-width: 2px;
			padding-bottom: 0;

			&:first-child {
				border-left-width: 2px;
			}
		}
	}

	&__card {
		background-color: transparent;
		margin: 0 auto;
		border: none;
		text-align: center;
		max-width: 240px;
	}

	&__icon {
		width: 59px;
		margin: 0 auto 15px auto;

		@media (min-width: 576px) {
			margin-bottom: 35px;
		}
	}

	&__heading {
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
	}

	&__desc {
		margin: 0;
		color: #7e7e7e;
		font-size: 12px;
	}
}

/* Projects */

.projects {
	&__panel {
		background-color: #ededed;
		border: 1px solid #cfcfcf;
		margin: 0 15px 30px 15px;
		border-radius: 20px;
		overflow: hidden;

		@media (min-width: 768px) {
			display: inline-block;
			border-radius: 25px;
		}
	}

	&__button-item {
		display: inline-block;
		border: 0 solid #cfcfcf;
		margin-right: -4px;

		@media (max-width: 768px) {
			&:nth-child(2),
			&:nth-child(5) {
				border-width: 0 1px;
			}

			&:nth-child(1) {
				width: 80px / 350px * 100%;
			}

			&:nth-child(2) {
				width: 100px / 350px * 100%;
			}

			&:nth-child(3) {
				width: 170px / 350px * 100%;
			}

			&:nth-child(4) {
				width: 120px / 350px * 100%;
			}

			&:nth-child(5) {
				width: 150px / 350px * 100%;
			}

			&:nth-child(6) {
				width: 80px / 350px * 100%;
			}
		}

		@media (min-width: 768px) {
			width: auto;
			border-width: 0;

			&:not(:last-child) {
				border-right-width: 1px;
			}
		}
	}

	&__button {
		font-size: 11px;
		width: 100%;
		padding: 10px 10px;
		background-color: #ededed;
		border-width: 5px 0px;
		border-style: solid;
		border-color: #ededed;
		text-transform: uppercase;
		transition: 0.3s;

		&:hover,
		&--active {
			border-bottom-color: $primary-color;
		}

		&:active {
			border-bottom-color: $primary-color-dark;
		}

		@media (min-width: 576px) {
			font-size: 14px;
		}

		@media (min-width: 768px) {
			padding: 10px 17px;
		}
	}

	@media (min-width: 768px) {
		&__button-item:first-child &__button {
			padding-left: 35px;
		}

		&__button-item:last-child &__button {
			padding-right: 35px;
		}
	}

	&__image-list {
		margin: auto;
	}

	&__image-list-item {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}

	&__image-container {
		max-width: 255px;
		position: relative;

		&:hover .projects__image-overlay {
			opacity: 0.75;
		}
	}

	&__image {
		width: 100%;
		display: block;
	}

	&__image-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		background-color: #000;
	}

	&__image-desc {
		color: white;
		font-size: 20px;
		position: absolute;
		width: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&__image-heading {
		font-size: 16px;
		font-weight: 500;
		line-height: 24.7px;
		text-transform: uppercase;
		margin-bottom: 0;

		@media (min-width: 576px) {
			font-size: 12px;
		}

		@media (min-width: 992px) {
			font-size: 16px;
		}
	}

	&__image-text {
		font-size: 12px;

		@media (min-width: 576px) {
			font-size: 10px;
		}

		@media (min-width: 992px) {
			font-size: 12px;
		}
	}
}

/* Team */

.team {
	background-image: url("../img/team-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&__card {
		display: flex; //TODO
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 40px 15px;
		margin: 0 auto;
		border-radius: 5px;
		max-width: 330px;
		background-color: #fff;
	}

	&__image {
		width: 183px;
		border-radius: 50%;
		margin: 0 auto 35px auto;
	}

	&__desc {
		margin-bottom: 35px;
	}

	&__name {
		text-transform: uppercase;
		font-size: 21px;
		font-weight: 600;
		color: #000;
	}

	&__occupation {
		color: #000;
		font-size: 14px;
	}

	.slick-list {
		margin-bottom: 40px;
	}

	.slick-dots {
		justify-content: center;
	}
}

/* Client Reviews */

.clients {
	&__carousel {
		max-width: 700px;
		margin: 0 auto;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__photo {
		width: 150px;
		border-radius: 50%;
		margin-bottom: 25px;
	}

	&__name {
		color: #000000;
		font-size: 24px;
		font-weight: 700;
	}

	&__position {
		color: #000000;
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 30px;
	}

	&__icon {
		font-size: 27px;
		margin-bottom: 15px;
	}

	.slick-list {
		margin-bottom: 30px;
	}

	.slick-dots {
		justify-content: center;
	}
}

/* Client Logos */

.client-logos {
	padding: 20px 0;

	&__item {
		margin: 15px 25px;
	}

	&__image {
		display: block;
		width: 200px;
		transition: all 0.4s ease-in-out;
	}

	&__link:hover &__image {
		filter: brightness(1.15);
	}

	&__link:active &__image {
		filter: brightness(1.2);
	}
}

/* Price */

.package {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 45px 10px;
	margin: 0 auto 15px auto;
	max-width: 350px;
	background-color: #fff;

	&__name {
		margin-bottom: 20px;
		color: #242424;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
	}

	&__price {
		margin-bottom: 20px;
	}

	&__price-number {
		color: #242424;
		font-size: 30px;
		font-weight: 700;
		line-height: 0.9em;
		font-weight: bold;
	}

	&__period {
		color: #aeaeae;
		font-size: 12px;
		text-transform: uppercase;
	}

	&__feature-list {
		margin-bottom: 25px;
	}

	&__feature {
		position: relative;
		font-size: 11px;
		color: #7e7e7e;

		&:not(:last-child) {
			padding-bottom: 15px;

			&::after {
				position: absolute;
				content: "";
				bottom: 6px;
				margin: auto;
				left: 0;
				right: 0;
				width: 8px;
				height: 1px;
				background-color: #7e7e7e;
			}
		}
	}
}

/* Premium */

.premium {
	&__header {
		margin-bottom: 30px;
	}

	&__content {
		border-bottom: 1px solid #bebebe;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

	&__image-container {
	}

	&__image {
		display: block;
		margin: 0 auto;
	}

	&__feature-container {
		padding-top: 35px;
	}

	&__feature-item {
		display: flex;
		margin-bottom: 10px;
	}

	&__icon-container {
		margin-right: 15px;
	}

	&__icon {
		font-size: 40px;
		color: $primary-color;
	}

	&__feature-heading {
		margin-top: 8px;
		color: #242424;
		font-size: 21px;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__feature-desc,
	&__subfeature {
		color: #5b5b5b;
		font-size: 14px;
		font-weight: 300;
	}

	&__feature-desc {
		margin-bottom: 5px;
	}

	&__subfeature {
		text-transform: uppercase;
		margin-bottom: 5px;

		&::before {
			content: "— ";
		}
	}
}

/* Facts */

.fact-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100%;
	padding: 0 40px;
	margin-bottom: 30px;
	background-color: transparent;

	&__heading {
		color: #fff;

		@media (min-width: 1200px) {
			min-height: 115px;
		}
	}

	&__number {
		font-size: 48px;
		font-weight: 700;
		position: relative;
		padding-bottom: 14px;
		color: $primary-color;

		&::after {
			content: "";
			position: absolute;
			width: 20px;
			height: 3px;
			background-color: #7e7e7e;
			bottom: 10px;
			left: calc(50% - 10px);
		}
	}

	&__text {
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
	}

	&__body {
		color: #7e7e7e;
		font-size: 12px;
		line-height: 21px;
	}
}

/* Share */

.share {
	padding: 25px 0;

	&__flex {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 650px;
		margin: 0 auto;

		@media (min-width: 576px) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__heading {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 15px;

		@media (min-width: 576px) {
			margin-bottom: 0;
		}
	}

	&__heading-icon-container {
		display: none;
		margin-right: 15px;

		@media (min-width: 576px) {
			display: block;
		}
	}

	&__heading-icon {
		display: block;
	}

	&__heading-text {
		color: #aeaeae;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;

		@media (min-width: 576px) and (max-width: 768px) {
			display: none;
		}
	}

	&__panel {
		display: flex;

		@media (min-width: 576px) {
			flex-direction: row;
		}
	}

	&__button-item {
		margin: 0 8px;

		@media (min-width: 576px) {
			margin-right: 25px;
		}
	}

	&__button {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@media (min-width: 576px) {
			flex-direction: row;
		}
	}

	&__number {
		color: #aeaeae;
		font-size: 10px;
		font-weight: 700;
		transition: all 0.2s ease-in-out;
	}

	a:hover &__number {
		color: $primary-color;
	}

	&__icon {
		margin-bottom: 10px;

		@media (min-width: 576px) {
			margin-bottom: 0;
			margin-right: 5px;
		}
	}
}

/* Contact Us */

.contact {
	display: flex;

	&__fields {
		max-width: 530px;
		margin: 0 auto;
	}

	&__message {
		resize: none;
		margin-bottom: 50px;
	}
}

/* Contact Information */

.contact-info {
	background-image: url("../img/contact-info-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

	&__content {
		background-color: #fff;
		display: flex;
		justify-content: center;
		padding: 50px 30px;
	}

	&__item {
		margin-bottom: 10px;
	}

	&__link-substitute,
	&__link {
		display: inline-flex;
	}

	&__icon {
		flex-shrink: 0;
		color: #fff;
		text-align: center;
		background-color: #bebebe;
		border-radius: 50%;
		margin-right: 15px;
		display: inline-block;
		width: 35px;
		height: 35px;
		line-height: 35px;
		transition: all 0.2s ease-in-out;
	}

	&__link-substitute:hover &__icon {
		background-color: $primary-color;
	}

	&__link:hover &__icon {
		background-color: $primary-color;
	}

	&__link:active &__icon {
		background-color: $primary-color-dark;
	}

	&__text {
		font-size: 14px;
		margin-top: 8px;
		transition: all 0.2s ease-in-out;
	}

	&__link:hover &__text {
		color: $primary-color;
	}

	&__link:active &__text {
		color: $primary-color-dark;
	}
}

/* Footer */

.page-footer {
	background-color: #000;
	position: relative;
	padding: 45px 0 20px 0;

	&__top-button {
		display: block;
		position: absolute;
		top: -32px;
		left: 8%;
		width: 65px;
		height: 65px;
		background-color: $primary-color;
		border-radius: 50%;
		color: #fff;
		font-size: 1.7rem;
		line-height: 65px;
		text-align: center;
		font-size: 50px;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: $primary-color-dark;
			color: #fff;
		}

		&:active {
			background-color: $primary-color-darker;
			color: #fff;
		}
	}

	&__container {
		position: relative;
		padding-bottom: 20px;

		@media (min-width: 992px) {
			padding-bottom: 0;
		}
	}

	&__form-column,
	&__socials-column,
	&__text-column {
		margin-bottom: 30px;

		@media (min-width: 992px) {
			margin-bottom: 0;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px 0;
		background-color: #373737;
	}

	&__email {
		color: #fff;
		width: 220px;
		margin-bottom: 25px;
		text-align: center;
	}

	&__socials-column {
		display: flex;
		justify-content: center;

		@media (min-width: 992px) {
			justify-content: flex-start;
		}
	}

	&__text-column {
		color: #7e7e7e;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 400;
		line-height: 21px;
	}

	&__copyright {
		position: absolute;
		left: 50%;
		margin-left: -45px;
		bottom: 10px;
		font-size: 14px;
		color: #fff;

		@media (min-width: 992px) {
			bottom: 0;
			left: 30px;
			margin-left: 0;
		}
	}
}
